form {
    .column,
    .columns {
        float: none;
    }

    .explanation {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    ul.error {
        margin: 0;

        li {
            border: none;
            margin-bottom: 0;
        }
    }

    input[type="submit"] {
        float: right;
    }
}
