.record-tags.popularity {
    justify-content: center;
    margin-top: 3rem;

    .popular .record-tag {
        font-size: 0.75rem;

        .record-tag-color {
            height: 0.875rem;
            width: 0.875rem;
        }
    }

    .v-popular .record-tag {
        font-size: 0.85rem;

        .record-tag-color {
            height: 0.875rem;
            width: 0.875rem;
        }
    }

    .vv-popular .record-tag {
        font-size: 0.95rem;

        .record-tag-color {
            height: 0.95rem;
            width: 0.95rem;
        }
    }

    .vvv-popular .record-tag {
        font-size: 1.05rem;

        .record-tag-color {
            height: 1.05rem;
            width: 1.05rem;
        }
    }

    .vvvv-popular .record-tag {
        font-size: 1.15rem;

        .record-tag-color {
            height: 1.15rem;
            width: 1.15rem;
        }
    }

    .vvvvv-popular .record-tag {
        font-size: 1.25rem;

        .record-tag-color {
            height: 1.25rem;
            width: 1.25rem;
        }
    }

    .vvvvvv-popular .record-tag {
        font-size: 1.35rem;

        .record-tag-color {
            height: 1.35rem;
            width: 1.35rem;
        }
    }

    .vvvvvvv-popular .record-tag {
        font-size: 1.45rem;

        .record-tag-color {
            height: 1.45rem;
            width: 1.45rem;
        }
    }

    .vvvvvvvv-popular .record-tag {
        font-size: 1.55rem;

        .record-tag-color {
            height: 1.55rem;
            width: 1.55rem;
        }
    }

    .vvvvvvvvv-popular .record-tag {
        font-size: 1.65rem;

        .record-tag-color {
            height: 1.65rem;
            width: 1.65rem;
        }
    }

    li {
        margin-bottom: 0;
    }
}
