div.guest-user-widget {
    border: 1px dashed $color__gray-58;
    border-radius: 20px 0;
    padding: 20px 25px;

    .guest-user-widget-label {
        border-bottom: 1px solid $color__hr;
    }
}
